@import './index.scss';


header{
    background-color: $primary;
    h1{
        color: $secondary;
    }
}

#subMain{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

ul{
    @include reset-list;
}

li{
    @include set-list-items(inline-block);
    img{
        height: 100px;
    }
}

#form{
    border: 1px solid black;
    padding: 10px 20px;
    width: 40%;
    input{
        display: block;
        margin-bottom: 10px;
        width: 95%;
    }
}
